## Maths

In [1]:
# Addition
1+1

2

In [3]:
# Substraction
2-1

1

In [4]:
# Multiplication
2*2

4

In [5]:
# Power of
2**2

4

In [7]:
# Division
5/2

2.5

In [8]:
# Division (no decimal)
5//2

2

In [9]:
# Modulo (Remainder)
5%2

1

In [10]:
# Follows (BODMAS) Rule
(2/3) - (2+3)

-4.333333333333333

## Variable

In [18]:
# String
x = 'Hello Pratik, Jarvis here.' 
print(x)

Hello Pratik, Jarvis here.

In [19]:
y = 'How may I help you?'
print(y)

How may I help you?

In [26]:
# Concatenation
print(x+' '+y,end='\n')

Hello Pratik, Jarvis here. How may I help you?

## Strings

In [27]:
'single quotes'

'single quotes'

In [28]:
"double quotes"

'double quotes'

In [39]:
""" Lots and Lots of "double quotes" """

' Lots and Lots of "double quotes" '

In [89]:
# Using '\' to ignore
"Lots and Lots of \"quotes\""

'Lots and Lots of "quotes"'

## Printing

In [46]:
print(x)

Hello Pratik, Jarvis here.

In [47]:
num = 10
name = 'Messi'

In [51]:
# Formatting (way 1)
print("The best player is {} and his jersey number is '{}'".format(name,num))

The best player is Messi and his jersey number is '10'

In [52]:
# Formatting (way 2)
print("The best player is {} and his jersey number is '{}'".format('messi',10))

The best player is messi and his jersey nummber is '10'

In [54]:
# Formatting (way 3)
print("The best player is {b} and his jersey number is '{a}'".format(b='Messi',a = 10))

The best player is Messi and his jersey number is '10'

## String Methods

In [55]:
# Capitalizing
name.capitalize()

'Messi'

In [56]:
# Upper Case
name.upper()

'MESSI'

In [57]:
# Lower Case
name.lower()

'messi'

In [58]:
# Length
len(name)

5

In [59]:
# Finding index no
name.find('s')

2

In [61]:
# Center
name.center(11,'-')

'---Messi---'

In [65]:
# Finding the starting index
name.index('Mess')

0

In [73]:
# Join (joins on an iteration)
y = 'IIII'
x = ' am weird '
x.join(y)

'I am weird I am weird I am weird I'

In [80]:
# Replace 
x.replace("weird",'strong')

' am strong '

In [83]:
# Split
name.split('s')

['Me', '', 'i']

## Lists
* Mutable
* Allows duplicates
* Ordered
* [] brackets are used

In [122]:
# Creating a list
mylist = [1,2,3,4,5]
print(mylist)

[1, 2, 3, 4, 5]

## List Methods

In [123]:
# Appending a list by 1 item
mylist.append('New')

In [124]:
print(mylist)

[1, 2, 3, 4, 5, 'New']

In [125]:
# deleting the last element
mylist.pop()

'New'

In [126]:
print(mylist)

[1, 2, 3, 4, 5]

In [127]:
# Deleting item through index number
mylist.pop(4)

5

In [128]:
print(mylist)

[1, 2, 3, 4]

In [129]:
# Extending the list by multiple items 
mylist.extend([5,6,7,8,'Old'])

In [130]:
print(mylist)

[1, 2, 3, 4, 5, 6, 7, 8, 'Old']

In [131]:
# Indexing
mylist[0:5] # start(inclusive) : end(exclusive)

[1, 2, 3, 4, 5]

In [132]:
mylist[-1] # -1 means last element

'Old'

In [133]:
# Reversing the list
mylist.reverse()

In [134]:
print(mylist)

['Old', 8, 7, 6, 5, 4, 3, 2, 1]

In [135]:
# Removing an element
mylist.remove('Old')

In [136]:
print(mylist)

[8, 7, 6, 5, 4, 3, 2, 1]

In [137]:
# Sorting the list
mylist.sort()

In [138]:
print(mylist)

[1, 2, 3, 4, 5, 6, 7, 8]

In [140]:
# Finding the index no.
mylist.index(7)

6

In [141]:
# Inserting values as per our req
mylist.insert(8,9) # (index no., value)

In [142]:
print(mylist)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [143]:
mylist.extend([9,9,8,8,7,7])

In [144]:
print(mylist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 9, 8, 8, 7, 7]

In [145]:
# Counting the no. of occurence
mylist.count(9)

3

In [146]:
# Making a copy
mylist1 = mylist.copy()

In [148]:
print(mylist1)
print(mylist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 9, 8, 8, 7, 7]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 9, 8, 8, 7, 7]

In [149]:
# Emptying/clearing the list
mylist.clear()

In [150]:
print(mylist)

[]

## Dictionaries
* Key : Value Pair 
* Mutable
* Does not support duplicate keys
* {} brackets are used

In [168]:
mydict = {'pratik':'hero', 'sheetal':'villian','sheetal':'hero'}

In [169]:
print(mydict)

{'pratik': 'hero', 'sheetal': 'hero'}

## Dictionary Methods

In [154]:
# Returning only the keys
mydict.keys()

dict_keys(['pratik', 'sheetal'])

In [155]:
# Returning only the values
mydict.values()

dict_values(['hero', 'villian'])

In [156]:
# Getting the value of a specific key
mydict.get('pratik')

'hero'

In [157]:
# Using pop
mydict.pop('sheetal')

'villian'

In [158]:
print(mydict)

{'pratik': 'hero'}

In [160]:
# adding a new key:value pair
mydict.update({'sheetal':'villian'})

In [161]:
print(mydict)

{'pratik': 'hero', 'sheetal': 'villian'}

In [163]:
# Forming key:value over a iteration
a = {'pratik','sheetal','priyank'}
b = {'genius','not really','genius'}
mydict.fromkeys(a,b)

{'pratik': {'genius', 'not really'},
 'sheetal': {'genius', 'not really'},
 'priyank': {'genius', 'not really'}}

In [164]:
print(mydict)

{'pratik': 'hero', 'sheetal': 'villian'}

## Tuples
* Immutable
* Allows duplicates
* () brackets are used

In [165]:
mytuple = ('Naruto', 'Kakashi','Sasuke','Sakura','Sakura')

In [166]:
print(mytuple)

('Naruto', 'Kakashi', 'Sasuke', 'Sakura', 'Sakura')

## Tuple Methods

In [170]:
# Indexing
mytuple[0]

'Naruto'

In [171]:
# Count
mytuple.count('Sakura')

2

In [173]:
# Index func
mytuple.index('Sakura')

3

## Sets
* Does not take duplicates
* {} brackets used

In [182]:
myset1 = {1,2,3,4,5,6,7,7,7,7,8,8,9,9}
myset2 = {1,2,3,4,5,6,7,8,9,10,20,30,40}

In [184]:
print(myset1)
print(myset2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 40, 20, 30}

## Sets Methods

In [185]:
# Adding a value
myset.add(10)

In [186]:
print(myset)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [187]:
# Difference between two sets
myset2.difference(myset1)

{10, 20, 30, 40}

In [188]:
# Deleting an element
myset2.discard(20)

In [189]:
print(myset2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 40, 30}

In [191]:
# Finding if it's a subset (returns boolean)
myset1.issubset(myset2)

True

In [194]:
# Finding if it's a superset (returns boolean)
myset2.issuperset(myset1)

True

## Boolean

In [195]:
True

True

In [196]:
False

False

## Comparison Operators

In [198]:
# Greater than
1 > 2

False

In [199]:
# Smaller than
2 < 1

False

In [201]:
# Greater than equal to
2 >= 1

True

In [203]:
# Smaller than equal to
1 <=2

True

In [204]:
# Equals to
1 == 2  # (Do not use '=')

False

In [205]:
# Not equals to
1 != 2

True

## Logical Operators

In [207]:
# AND operator
(1<2) & (3>1)

True

In [209]:
# OR operator
(1<2) | (3>1)

True

In [214]:
# NOT operator
1 != 2

True

## If, Elif and Else Satatements

In [215]:
# IF
if 2>1:
    print("2 is greater than 1")

2 is greater than 1

In [216]:
# IF ELSE
if 2<1:
    print("2 is smaller than 1")
else:
    print('2 is not smaller than 1')

2 is not smaller than 1

In [217]:
# IF ELIF ELSE
if 2<1:
    print("2 is smaller than 1")
elif 2>1:
    print('2 is greater than 1')
else:
    print('2 is neither greater nor smaller')

2 is greater than 1

## For Loop
* A for loop is used for iterating over a sequence

In [219]:
# iterates over a range provide (eg:1)
for i in range(0,11): # range function will be discussed below (Have patience...)
    print('I am {} right now'.format(i)) # formatting is discussed before

I am 0 right now
I am 1 right now
I am 2 right now
I am 3 right now
I am 4 right now
I am 5 right now
I am 6 right now
I am 7 right now
I am 8 right now
I am 9 right now
I am 10 right now

In [232]:
# iterates over a range provide (eg:2)
seq = [1,2,3,4,5,6,7]
for i in seq:
    print("This is me '{}' times".format(i)) # formatting is discussed before

This is me '1' times
This is me '2' times
This is me '3' times
This is me '4' times
This is me '5' times
This is me '6' times
This is me '7' times

## While Loop
* Keeps iterating untill the condition gets False

In [233]:
i = 1
while i < 5:
    print('{} is greater than 5'.format(i))
    i +=1 # appending the value by 1 (can also be written as i = i+1)

1 is greater than 5
2 is greater than 5
3 is greater than 5
4 is greater than 5

## Range
* Provides a range of numbers from 0 to n

In [234]:
print(range(51))

range(0, 51)

In [235]:
for i in range(0,6): # (0,n) (n-being exclusive)
    print(i)

0
1
2
3
4
5

## List Comprehension

In [238]:
# Basically appending an empty list
a = [1,2,3,4,5]
b = []
for i in a:
    b.append(i) # append is used before (you should be knowing it)
print(b)

[1, 2, 3, 4, 5]

In [239]:
# see what happened here (figure it out...)
print(a)
print(b)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [241]:
# Using Short hand (optional)
[i**2 for i in a]

[1, 4, 9, 16, 25]

## Function

In [242]:
# Defining a function (Below is the syntax used with defining a docstring to it)
def myfunc(param1):
    '''
    Returns the multiple of 2 
    '''
    return(param1*2)

In [243]:
# Let's check if it works
myfunc(2)

4

## Lambda Function

In [248]:
mylam = lambda x : print("You entered '{}'".format(x)) # Use of a lambda function

In [249]:
mylam(2)

You entered '2'

## Map & Filter

In [254]:
# MAP (maps two things together)
seq = [1,2,3,4,5]

In [255]:
list(map(myfunc,seq))

[2, 4, 6, 8, 10]

In [259]:
list(map(lambda x: x % 2 == 0,seq)) # Returns boolean value

[False, True, False, True, False]

In [260]:
# FILTER (Only filters out and displays the correct answers list)
list(filter(lambda x: x % 2 == 0,seq)) # Using the same eg.so that you can see the difference

[2, 4]

## Thank You!